* text=auto

*.md text eol=lf
*.py text eol=lf
*.json text eol=lf
*.jsonc text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.ged text eol=lf
*.txt text eol=lf

*.jpg binary
*.jpeg binary
*.png binary
*.pdf binary
*.mp3 binary
*.zip binary
